<img id="splash" src="img/splash-image.svg">
<section>
  <p>Cast your votes.How do you feel about the lecture?Hit <i class="fa fa-frown-o"></i> or <i class="fa fa-smile-o"></i> as much as you like.</p>
  <nav><a href="/vote"><img src="img/start_button.svg"></a></nav>
</section>
