<img id="splash" src="img/splash-image.svg">
<section>
  <p>
    Cast your votes. How do you feel about the lecture? Hit <i class="fa fa-frown-o"></i> or <i class="fa fa-smile-o"></i> as much as you want. If you like us fork <i class="fa fa-code-fork"></i> our project on <a href="https://github.com/mala23/lecture-voter" target="_Blank">github <i class="fa fa-github"></i></a>.
  </p>
  <article>
    <a id="start" href="/vote"><img src="img/start_button.svg"></a>
  </article>
</section>
