<div class="wrapper">
<section id="start">
<p>Cast your votes.</p>
<p>How do you feel about the lecture?</p>
<p>Hit <i class="fa-frown-o"></i> or <i class="fa-smile-o"></i> as much as you like.</p>
<a href="/vote">Start</a>
</section>
