<!doctype html>
<html lang='en'>
  <head>
    <title>Lecture Voter</title>
    <meta charset='utf-8'>
    <script src='js/jquery.js'></script>
    <script src='js/smoothie.js'></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <header></header>
    <main><%- body %></main>
    <footer></footer>
  </body>
</html>