<!doctype html>
<html lang='en'>
  <head>
    <title>Lecture Voter</title>
    <meta charset='utf-8'>
    <script src='/jquery.js'></script>
  </head>
  <body>
    <header></header>
    <main><%- body %></main>
    <footer></footer>
    <script src='/interface.js'></script>
  </body>
</html>