<!DOCTYPE html>
<html>
  <head>
    <title>Lecture voter</title>
    <meta charset='utf-8'>
  </head>
  <body>
    <script src="/jquery.js"></script>
    <p>Hello from layout</p>
    <%- body %>
  <script src="/interface.js"></script>
  </body>
</html>
