<!doctype html>
<html lang='en'>
  <head>
    <title>Lecture Voter</title>
    <meta charset='utf-8'>
    <script src='/jquery.js'></script>
    <script src='/smoothie.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header></header>
    <main><%- body %></main>
    <footer></footer>
    <script src='/interface.js'></script>
  </body>
</html>