<!doctype html>
<html lang='en'>
  <head>
    <title>Lecture Voter</title>
    <meta charset='utf-8'>
    <script src='js/jquery.js'></script>
    <script src='js/smoothie.js'></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="//use.typekit.net/qje5wca.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Lecture Voter</h1> 
    </header>
    <main><%- body %></main>
    <footer></footer>
  </body>
</html>
