<canvas id="chart" width="500" height="100"></canvas>
<h2>Connected users:<var>1</var></h2><h2>Mood:<samp></samp></h2>
<article>
  <a id="plus"><i class="fa fa-smile-o"></i></a>
  <a id="minus"><i class="fa fa-frown-o"></i></a>
</article>
<script src='/socket.io/socket.io.js'></script>
<script src='js/interface.js'></script>
