<div class="wrapper">
<canvas id="graph"></canvas>
<section class="controls">
<a id="plus">+</a>
<a id="minus">-</a>
</section>
<section class="connections">
<p>Connected users: <var>1</var></p>
</section>
</div>
