/* ======================================
        Globals
====================================== */

img {
  max-width: 100%;
}

main img#splash {
  display: none;
}

body {
  background-color: 'white';
  -webkit-user-select: none;
}
i.fa{pointer-events:none;}
a{ 
  font-family: "museo-slab", serif;
  font-style: italic;
  text-decoration: none;
  color: rgb(85,85,85);
}
p, h2{
  font-family: "effra", light;
  font-size: 100%;
  letter-spacing: 1.2px;
  line-height: 1.8em;
} 

header {
  display: block;
  margin: 10% 0% 8% 0%;
  text-align: center;
}

h1 {
  font-family: "museo-slab", serif;
  font-style: italic;
  font-size: 206%;
  letter-spacing: 0.4px;
  color: #555555;
}

main section p{
  margin: 20% 8% 0% 8%;
}
main section article{
  width: 90%;
  margin: 10% auto 0% auto;
  padding: 0% 0% 10% 0%;
  text-align: center;
}
main canvas {
  width: 100%;
  border: solid 2px rgb(220,220,220);
  display: block;
}
main h2 {
  display: inline-block;
  padding: 3% 0% 3% 8%;
}
main article var {
  width:100%;
  display:line-block;
  line-height: 2em;
  margin: 0% 0% 0% 0%;
}
main nav a {
  width:100%;
  display: block;
  padding: 7% 0% 7% 0%;
  text-align: center;
  font-size: 474%;
  color: rgba(255,255,255,1)
}
main nav a#plus {
  background-color: rgb(147,233,171);
}
main nav a#minus {
  background-color: rgb(255,108,108);
}


/* ======================================
        Media Queries
====================================== */

@media only screen and (max-width: 24em) { /* width 1 */
}
@media only screen and (min-width: 24em) and (max-width: 44em){
  header {
    margin: 1% 0% 0% 0%;
  } 
  main h2{
    padding: 0% 0% 0% 9%;
  }
  main section p{
    margin: 4% 8% 0% 8%;
  }
  main section article{
    width: 90%;
    margin: 0% auto 0% auto;
    padding: 0% 0% 10% 0%;
  }
  main section article a img{
    width: 30%;
  }
  main nav a{
    margin: 0% -2% 0% 1%;
    padding: 5% 0% 5% 0%;
    width: 49%;
    display: inline-block;
  }
}
@media only screen and (min-width: 68em){
  header{
    margin: 2% 0% 2% 0%;
  }
  main img#splash {
    display: block;
    width: 50%;
    margin: -5% auto 0% auto;
  }
  main section p{
    display: inline-block;
    font-size: 149%;
    width: 39%;
    margin: 4% 0% 0% 6%;
  }
  main section article{
    display: inline-block;
    width: 50%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    text-align: right;
  }
  main section article a img{
    width: 30%;
  }  
  main h2 {
    padding: 2% 0% 0% 26%;
  }
  main nav {
    width: 29%;
    margin: auto;
  }
  main nav a{
    margin: 11% 0% 0% 0%;
    padding: 7% 0% 7% 0%;
    width: 100%;
  }
}

